---
title: Large Parallax - Main Image
---

<div class="largeparallax l-padding-b">

    <div class="img-holder">
    </div>

    <div class="img-src" data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" data-media="(min-width: 1px)" data-height="290"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" data-media="(min-width: 360px)" data-height="500"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" data-media="(min-width: 769px)" data-height="700"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" data-media="(min-width: 993px)" data-height="700"></div>

        <noscript>
            <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" alt="">
        </noscript>

        <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" alt="">
    </div>

        <div class="legacy-img show-on-ie8 show-on-ie9">
            <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_date{{/if}}.jpg" alt="" />
        </div>


    {{#if parallax_text}}
    <div class="largeparallax-text">
        <div class="largeparallax-text-container">
            <div class="inside">

                <h3>{{#if parallax_text}}{{{parallax_text}}}{{else}}Day One: 15kms{{/if}}</h3>
            </div>
        </div>
    </div>
    {{/if}}
</div>