---
title: Mosaic Grid EventResults 4 column 2 row
---

<div class="mosaic">
    <!-- four item start -->
    <div class="col-xs-12 mosaic-grid-1 l-row-collapse">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
            <div class="col-xs-12 col-md-3">
                {{#if captions}}
                    {{#parseJSON '{"captions": true}'}}
                        {{> mosaicitemevent }}
                    {{/parseJSON}}
                {{else}}
                    {{> mosaicitemevent }}
                {{/if}}
            </div>
        </div>
    </div>
    <!-- four item end -->
</div>

<div class="l-h-center">
    <a href="#" class="btn-primary">Discover more</a>
</div>
