---
title: Mosaic Item - Link Only (class name "outbound-link" added to container)
---

<div class="mosaic-item">
    <div class="mosaic-front-back-container flip-container outbound-link">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">
                    {{#if mosaic_image}}<img src="imgs/placeholders/{{{mosaic_image}}}.jpg" alt=""/>{{else}}<img src="imgs/placeholders/meganav-img1.jpg" alt=""/>{{/if}}
                </div>
                <a href="#" class="mosaic-overlay">
                    <span class="vertical-container">
                        <span class="vertical-content text-center">
                            <span class="label-destination type-destination {{#if mosaic_theme}}theme-{{{mosaic_theme}}}{{else}}theme-sports{{/if}}">{{#if mosaic_title}}{{{mosaic_title}}}{{else}}Some Title{{/if}}</span>
                        </span>
                    </span>
                </a>
            </div>

        </div>
    </div>

</div>



