---
title: Mega Menu Map Marker
---
<li class="megamenu-map-marker map-marker-{{#if class}}{{class}}{{else}}none{{/if}}">
    <a href="{{#if link}}{{link}}{{else}}#{{/if}}"><img class="map-segment" src="{{#if image_src}}{{image_src}}{{else}}/{{/if}}" alt="{{#if name}}{{name}}{{else}}Lorum Ipsum Dolor{{/if}}"></span>{{#if name}}{{name}}{{else}}Lorum Ipsum Dolor{{/if}}</a>
</li>