---
title: Hero (bg only in template)
note: note-herohome
---

<div class="home-hero make-white">    
    <div class="home-bg fullwidth-bg" data-image-vertical-alignment="bottom">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg' alt=''>
			</noscript>
		</div>

            <img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg' alt='' class='show-on-ie8'>

	</div>

    <div class="home-hero-text-table-container">
        <div class="home-hero-text-table-cell">
            <h1 class="home-hero-title">{{#if hero_title}}{{hero_title}}{{else}}Sydney{{/if}}</h1>
            <h2 class="home-hero-sub-title">{{#if hero_subtitle}}{{hero_subtitle}}{{else}}The harbour city{{/if}}</h2>
        </div>
    </div>
    <div class="row l-center-1200 home-hero-favourite-container">
        <div class="col-xs-12 col-md-5">
            <div class="home-hero-favourite">
                {{> favourite }}
            </div>
        </div>
    </div>

</div>