---
title: Hero Video
---

<div class="hero-video">
    <div class="hero-video-image fullwidth-bg" data-image-vertical-alignment="bottom">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney{{/if}}.jpg' alt=''>
        <![endif]-->
	</div>
    <div class="hero-video-media">
          <div class="hero-video-media-video">

          	<!-- PLACE BRIGHTCOVE CODE HERE - REMOVE HTML5 VIDEO TAGS BELOW -->
          	
          	<video autoplay loop poster="polina.jpg" id="bgvid">
				<source src="videos/placeholders/{{#if hero_video}}{{hero_video}}{{else}}polina{{/if}}.webm" type="video/webm">
				<source src="videos/placeholders/{{#if hero_video}}{{hero_video}}{{else}}polina{{/if}}.mp4" type="video/mp4">
			</video>

			<!-- REMOVE HTML5 VIDEO TAGS ABOVE -->
          </div>
          <div class="hero-video-media-overlay"></div>
    </div>
   <div class="hero-video-copy">

            <h1 class="home-hero-title">{{#if hero_title}}{{hero_title}}{{else}}Sydney{{/if}}</h1>
            <h2 class="home-hero-sub-title">{{#if hero_subtitle}}{{hero_subtitle}}{{else}}The harbour city{{/if}}</h2>


            <div class="row l-center-1200 home-hero-favourite-container">
		        <div class="col-xs-12 col-md-5">
		            <div class="home-hero-favourite">
		                {{> favourite }}
		            </div>
		        </div>
		    </div>
   </div>
</div>