---
title: Hero Video
---

<div class="hero-video make-white">
    <div class="hero-video-image fullwidth-bg" data-image-vertical-alignment="bottom" data-video=".hero-video-media-video">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg" data-media="(min-width: 993px)"></div>

			<noscript>
				<img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg' alt=''>
			</noscript>
		</div>

            <img src='imgs/placeholders/{{#if hero_image}}{{hero_image}}{{else}}herohome_sydney_16_9{{/if}}.jpg' alt='' class='show-on-ie8'>

	</div>

    <div class="hero-video-media" data-image-vertical-alignment="bottom">
        <div class="hero-video-media-video">

            <!-- PLACE BRIGHTCOVE CODE HERE - REMOVE HTML5 VIDEO TAGS BELOW -->

            <!--           	<video autoplay loop poster="polina.jpg" id="bgvid">
				<source src="videos/placeholders/{{#if hero_video}}{{hero_video}}{{else}}polina{{/if}}.webm" type="video/webm">
				<source src="videos/placeholders/{{#if hero_video}}{{hero_video}}{{else}}polina{{/if}}.mp4" type="video/mp4">
			</video> -->

            <!-- REMOVE HTML5 VIDEO TAGS ABOVE -->

            <!-- START OF SAMPLE BRIGHTCOVE VIDEO -->
            <div id="75963ace4e314ac8a23dda8fe48277c1"><object type="application/x-shockwave-flash" data="http://c.brightcove.com/services/viewer/federated_f9?&amp;width=100%25&amp;height=100%25&amp;flashID=myExperience_75963ace4e314ac8a23dda8fe48277c1&amp;bgcolor=%23FFFFFF&amp;playerID=1635977582001&amp;playerKey=AQ~~%2CAAABfJkxEHE~%2C20THWYuqpxyNRaRbWupLtIJ6CQCa0UAb&amp;isVid=true&amp;isUI=true&amp;dynamicStreaming=true&amp;linkBaseURL=&amp;%40videoPlayer=2523221951001&amp;templateLoadHandler=onPlayerLoaded&amp;templateReadyHandler=brightcove%5B%22templateReadyHandlermyExperience_75963ace4e314ac8a23dda8fe48277c1%22%5D&amp;templateErrorHandler=onPlayerError&amp;includeAPI=true&amp;wmode=transparent&amp;autoStart=true&amp;debuggerID=&amp;originalTemplateReadyHandler=onPlayerReady&amp;startTime=1400801149171" id="myExperience_75963ace4e314ac8a23dda8fe48277c1" width="100%" height="100%" class="BrightcoveExperience" seamlesstabbing="undefined" style="height: 488.8125px;"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="seamlessTabbing" value="false"><param name="swliveconnect" value="true"><param name="wmode" value="transparent"><param name="quality" value="high"><param name="bgcolor" value="#FFFFFF"></object><script type="text/javascript" src="http://admin.brightcove.com/js/api/SmartPlayerAPI.js"></script></div>

            <script type="text/javascript" src="http://www.ta.ext.dtdigital.com.au/etc/designs/tourismaustralia/brightcove.js"></script>


            <script type="text/javascript">

                // listener for media change events
                function onMediaBegin(event) {
                    var BCLcurrentVideoID;
                    var BCLcurrentVideoNAME;
                    BCLcurrentVideoID = BCLvideoPlayer.getCurrentVideo().id;
                    BCLcurrentVideoNAME = BCLvideoPlayer.getCurrentVideo().displayName;
                    switch (event.type) {
                        case "mediaBegin":
                            var currentVideoLength = "0";
                            currentVideoLength = BCLvideoPlayer.getCurrentVideo().length;
                            if (currentVideoLength != "0") currentVideoLength = currentVideoLength / 1000;
                            if (typeof _gaq != "undefined") _gaq.push(['_trackEvent', location.pathname, event.type + " - " + currentVideoLength, BCLcurrentVideoNAME + " - " + BCLcurrentVideoID]);
                            break;
                        case "mediaPlay":
                        case "mediaStop":
                        case "mediaChange":
                        case "mediaComplete":
                            _gaq.push(['_trackEvent', location.pathname, event.type + " - " + event.position, BCLcurrentVideoNAME + " - " + BCLcurrentVideoID]);
                            break;
                        default:
                            _gaq.push(['_trackEvent', location.pathname, event.type, BCLcurrentVideoNAME + " - " + BCLcurrentVideoID]);
                    }
                }

            </script>
            <script>
                customBC.createVideo('100%', '100%', '1635977582001', 'AQ~~,AAABfJkxEHE~,20THWYuqpxyNRaRbWupLtIJ6CQCa0UAb', '2523221951001', '75963ace4e314ac8a23dda8fe48277c1', '', true);
            </script><script type="text/javascript" src="//admin.brightcove.com/js/BrightcoveExperiences.js"></script><script type="text/javascript" src="//files.brightcove.com/bc-mapi.js"></script><script type="text/javascript">window.onload = function() {brightcove.createExperiences();};</script>

            <!-- END OF SAMPLE BRIGHTCOVE VIDEO -->

        </div>
    </div>

   <div class="hero-video-copy">

            <h1 class="home-hero-title">{{#if hero_title}}{{hero_title}}{{else}}Sydney{{/if}}
                <span class="home-hero-sub-title">{{#if hero_subtitle}}{{hero_subtitle}}{{else}}The harbour city{{/if}}</span>
            </h1>


            <div class="row l-center-1200 home-hero-favourite-container">
		        <div class="col-xs-12 col-md-5">
		            <div class="home-hero-favourite">
		                {{> favourite }}
		            </div>
		        </div>
		    </div>
   </div>
</div>