---
title: Large Image With Optional Overlay - Parallax Enabled
---

<div class="largeparallax large-image-with-optional-overlays">

    <div class="img-holder">
    </div>

    <div class="img-src" data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" data-media="(min-width: 1px)" data-height="290"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" data-media="(min-width: 360px)" data-height="500"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" data-media="(min-width: 769px)" data-height="700"></div>
        <div data-src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" data-media="(min-width: 993px)" data-height="700"></div>

        <noscript>
            <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" alt="">
        </noscript>

        <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" alt="">
    </div>

    <div class="legacy-img show-on-ie8 show-on-ie9">
        <img src="imgs/placeholders/{{#if parallax_image}}{{{parallax_image}}}{{else}}image_with_buttons{{/if}}.jpg" alt="" />
    </div>


    <div class="largeparallax-text">
        <div class="largeparallax-text-container">
            <div class="inside">

                {{#if social_image_url}}
                        {{> socialimage }}
                {{/if}}

                {{#if quote_copy}}
                    <hr>
                    {{> blockquote_pullquote}}
                    <hr>
                {{/if}}

                {{#if button_copy}}
                        <a href="#" class="image-btn">{{button_copy}}</a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="large-image-social-mention">
        {{#parseJSON '{"social_mention_bold_text": "Tiat Yen Obi,", "social_mention_regular_text": "Petaling Jaya, Selangor, Twelve Apostles, Port Ca"}'}}
            {{> socialmention}}
        {{/parseJSON}}
    </div>
</div>