---
title: Large Parallax Text
---

<div class="large-parallax large-parallax--withtext" data-section-name="{{#if itinerary_nav}}{{{itinerary_nav}}}{{else}}day-one{{/if}}">

    <div class="img-holder" data-image="imgs/placeholders/{{#if largeparallax_image}}{{{largeparallax_image}}}{{else}}hero-bluemontains-2{{/if}}.jpg">        

        


    </div>


    <!-- <div data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>

        <noscript>
            <img src='imgs/placeholders/image_with_date.jpg' alt=''>
        </noscript>

        <img src='imgs/placeholders/image_with_date.jpg' alt=''>
    </div> -->

    <div class="largeparallax-text">
        <div class="largeparallax-text-container">
            <div class="inside">
                 <h3>{{#if largeparallax_text}}{{{largeparallax_text}}}{{else}}Day One: 15kms{{/if}}</h3>
            </div>
        </div>
    </div>
</div>
