---
title: Special Offer - Sydney
---

<div class="specialoffer">
    <div class="row">
        <div class="col-xs-12 col-sm-7">

            <div class="specialoffer-image">
                <img src="imgs/placeholders/{{promo_image}}.jpg" alt="image alt text"/>
            </div>

        </div>
        <div class="col-xs-12 col-sm-5">

            <div class="specialoffer-content">

                <h3 class="specialoffer-title">{{{promo_title}}}</h3>

                <div class="specialoffer-text">
                    {{#if promo_text}}
                        {{#each promo_text}}
                            <p>{{{this.para}}}</p>
                        {{/each}}
                    {{else}}
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    {{/if}}
                </div>
                {{#if promo_value }}
                    <div class="specialoffer-price">
                        <span class="specialoffer-currency">$</span>
                        <span class="specialoffer-value">{{promo_value}}</span>
                        <span class="specialoffer-per">{{promo_per}}</span>
                    </div>
                {{/if}}

                <div class="specialoffer-links">
                    <a href="#">View More Information</a>
                    <a href="#">View Terms and condition</a>
                </div>

            </div>

        </div>
    </div>
</div>
